extends layout

block content
  h1= title
  table.table-bordered.table-striped
   tr
    th 
    th Champion
    th Games Played
    th Wins
    th Losses
    th Win %
   each champ in champs
    if(champ.id!=0)
     tr
      td(width="10%")
       img(src="/dragontail/4.21.5/img/champion/" + champ.stats.image.full width="100%")
      td=champ.stats.name
      td=champ.stats.totalSessionsPlayed
      td=champ.stats.totalSessionsWon
      td=champ.stats.totalSessionsLost
      td=Math.round((champ.stats.totalSessionsWon / champ.stats.totalSessionsPlayed)*100) + "%"

