extends layout

block content
  h1= title
  table.table-bordered.table-striped
   tr
    th Champion
    th Games Played
    th Wins
    th Losses
    th Win %
   each champ in champs
    if(champ.id!=0)
     tr
      td=champ.stats.name
      td=champ.stats.totalSessionsPlayed
      td=champ.stats.totalSessionsWon
      td=champ.stats.totalSessionsLost
      td=Math.round((champ.stats.totalSessionsWon / champ.stats.totalSessionsPlayed)*100) + "%"

