extends layout
block scripts
 script(type='text/javascript').
   //testing
   console.log(!{JSON.stringify(games)});
block content
  h1= title
  each game in games
   table.table-bordered.table-striped
    tr
     th Player
     th Champion(ID)
     th Summoner Spells (ID)
     th K/D/A
     th Items
     //-count=0;
     each player, count in game.participantIdentities
      tr
       if(player.player)
        td=player.player.summonerName
       else
        td Unknown Player
       td=game.participants[count].championId
       td=game.participants[count].spell1Id + " & " + game.participants[count].spell2Id 
       td=game.participants[count].stats.kills + " / " + game.participants[count].stats.deaths + "/ " +  game.participants[count].stats.assists
       td(width="50%")
        if game.participants[count].stats.item0 
         img(src="dragontail/4.21.5/img/item/" + game.participants[count].stats.item0 + ".png")
        if game.participants[count].stats.item1 
         img(src="dragontail/4.21.5/img/item/" + game.participants[count].stats.item1 + ".png")
        if game.participants[count].stats.item2 
         img(src="dragontail/4.21.5/img/item/" + game.participants[count].stats.item2+ ".png")
        if game.participants[count].stats.item3 
         img(src="dragontail/4.21.5/img/item/" + game.participants[count].stats.item3 + ".png")
        if game.participants[count].stats.item4 
         img(src="dragontail/4.21.5/img/item/" + game.participants[count].stats.item4 + ".png")
        if game.participants[count].stats.item5
         img(src="dragontail/4.21.5/img/item/" + game.participants[count].stats.item5 + ".png")
        if game.participants[count].stats.item6
         img(src="dragontail/4.21.5/img/item/" + game.participants[count].stats.item6 + ".png")         
       each 
      //-count++;
