extends layout
block scripts
 script(type='text/javascript').
   //testing
   console.log(!{JSON.stringify(games)});
block content
  h1= title
  each game in games.games
    .list-group
     a.list-group-item
      h4.list-group-item-heading Champion
      p.list-group-item-text
        img(src="/dragontail/4.21.5/img/champion/" + game.image.full)
     a.list-group-item
      h4.list-group-item-heading Result
      p.list-group-item-text
       if(game.stats.win==true)
        p.text-success Victory
       else
        p.text-danger Defeat
      p.list-group-item-text=game.stats.totalDamageDealt
     a.list-group-item
      h4.list-group-item-heading K/D/A
      p.list-group-item-text
       =(game.stats.championsKilled==undefined ? 0:game.stats.championsKilled)+ "/" + (game.stats.numDeaths==undefined ? 0 : game.stats.numDeaths)+ "/" + (game.stats.assists==undefined ? 0 : game.stats.assists)
     a.list-group-item
      h4.list-group-item-heading Total Damage Dealt
      p.list-group-item-text=game.stats.totalDamageDealt
     a.list-group-item
      h4.list-group-item-heading Total Damage Taken
      p.list-group-item-text=game.stats.totalDamageTaken
     a.list-group-item
      h4.list-group-item-heading Total Damage Healed
      p.list-group-item-text=game.stats.totalHeal
